[package]
name = "skim"
version = "0.1.0"
authors = ["Mark Wallace <lotabout@gmail.com>"]

[[bin]]
name = "sk"

[dependencies]
libc = "*"
ncurses = "*"
getopts = "0.2"
num_cpus = "0.2"
regex = "0.1"
lazy_static = "0.2.1"
